<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Final Year Project</a>
    </div>
    <ul class="nav navbar-nav">
      <li class=""><a href="/">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/proj">Project Details</a></li>
    </ul>
  </div>
</nav>
<br><br><br>
<div class='jumbotron'>
	<p align="center" style="font-size: 40px; padding-top: 30px;">ATTENDANCE SYSTEM USING FACE RECOGNITION</p>
</div>
<div class='jumbotron' style="padding: 20px; margin: 20px">
	<p>This project was developed keeping in mind that a lot of valuable time is wasted in taking attendance of a class and it is a very tedious process to take the attendance manually. The main aim of the project is to automate the process of attendance and save a lot of lecture time which is wasted during taking attendance. We achieved this by using a camera that records video of students entering the class and then the video is processed and frames of video are matched with the existing database which has 20 pictures of each student. The students are then identified in the video and are marked as present in the database as well as the excel sheet.
Initially all the students are marked absent but as the video is processed further and further the students get identified and the identified students are marked as present. In the project setup the location of camera is fixed i.e. it should be placed facing towards the entrance of the class. The video of students entering the class is captured and then the video is processed for marking the attendance which takes a little time.
</p>
</div>
</body>